body {
  	background: #407088;
    background-image: url("https://i.pinimg.com/originals/8c/67/d4/8c67d4ee5514c82edb37d04df34c8c37.gif");
    background-repeat: repeat;
}

li {
  list-style-type: none;
}

/*I need to costumize the colors of buttons for each type*/

.btn {
  font-family: 'VT323', monospace;
}

.btn-link {
  color: black;
}

.btn-link:hover {
  color: white;
}

#modal-container {
  display:block;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100%;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

.overlap {
  position: relative;
  display: block;
}

.pokemon-list {
  position: fixed;
  text-align: center;
  border:3px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: #a5baa9;
}

.sprite {
  float: left;
}

.modal-header {
  margin: auto;
}

.pokedex {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  text-align: right;
}

p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 760px) {

  .pokedex {
    padding-top: 50px;
    width: 310px;
    height: 480px;
  }

  .pokemon-list {
    display: block;
    position:relative;
    width: 100px;
    right: 75px;
    height: 145px;
    bottom: 318px;
  }

  .btn {
    font-size: 13px;
  }

  .modal-content {
    font-size: 14px;
    width: 300px;
    top: 200px;
    right: 25px;
    height: 250px;
  }

  .poke-name{
    font-size: 16px;
  }

  .sprite {
    text-align: justify;
    width: 100px;
    height: 100px;
  }

  nav {
    height: 125px;
  }
}



@media only screen and (min-width: 760px) and (max-width:1200px) {

  .pokedex {
    width: 750px;
    height: 500px;
    padding-right: 40px;
    padding-top: 50px;
  }

  .pokemon-list {
    display: block;
    position:relative;
    width: 240px;
    right: 187px;
    height: 150px;
    bottom: 332px;
  }

  .btn {
    font-size: 24px;
  }

  .modal-content {
    font-size: 12px;
    width: 300px;
    top: 192px;
    left: 300px;
    height: 190px;
  }

  .poke-name{
    font-size: 14px;
  }

  .sprite {
    text-align: justify;
    width: 120px;
    height: 120px;
  }

  nav {
    height: 100px;
  }
}

@media only screen and (min-width: 1200px) {

  .pokedex {
    width: 800px;
    height: 580px;
    padding-top: 50px;
  }

  .pokemon-list {
    display: block;
    position:relative;
    width: 260px;
    right: 190px;
    height: 160px;
    bottom: 372px;
  }

  .btn {
    font-size: 24px;
  }

  .modal-content {
    font-size: 14px;
    width: 325px;
    top: 250px;
    left: 300px;
    height: 225px;
  }

  .poke-name{
    font-size: 16px;
  }

  .sprite {
    text-align: justify;
    width: 120px;
    height: 120px;
  }

  nav {
    height: 100px;
  }
}
