body {
  	background: #407088;
    color: white;
}

.pokedex_template {
  margin: auto;
  display: block;
}

li {
  list-style-type: none;
}

/*I need to costumize the colors of buttons for each type*/

.button-class {
  border: none;
  display: inline-block;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button-class:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
}

.button-class:focus {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
}
